@font-face {
  font-family: Circular;
  src: url("./assets/CircularStd-Book.otf");
}
@font-face {
  font-family: Circular-Ligth;
  src: url("./assets/CircularStd-Light.otf");
}

:root {
  font-family: Circular-Ligth, Circular;

  background-color: #000000;

}
h1{
  font-family: circular;
}


a {
  font-weight: 600;
  font-family: Circular;
  color: #FFFFFF;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: flex-start;
  -webkit-user-drag: none; 
}

